* {box-sizing: border-box;}
body{
    top:0;
    margin:0;
    
}

.header {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #15202B;
    padding: 10px;
    display: flexbox;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
  }
.logo{
    float: left;
    font-size: xx-large;
    margin-left: 40px;
    
}
.menu{
    float: right;
    margin-right: 40px;
    font-size: larger;
    margin-top: 8px;
}
.logo a{
    color:#E4EBE6 ;
  
}
.header a{
    text-decoration: none;
    padding: 10px;
}
.menu a{
    color:#E4EBE6;
}
.menu a:hover{
    border-top: 5px solid rgba(156,217,249);
}
.menu a:active{
    border-top: 5px solid rgba(156,217,249);
}




/* Animation*/
/* Animation Header Background */
.large-header {
    height:400px;
	position: relative;
	width: 100%;
	background: #192734;
	overflow: hidden;
	background-size: 300px;
	background-position: center center;
	z-index: 1;
    
    
}
.container-particle{
    display: flex;
}

.particle .large-header {
	background-image: url('CASU.jpg');
    background-size: 400px;
    z-index: -10;
}


.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color:#E4EBE6;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.particle .main-title {
	text-transform:capitalize; 
    font-size: 2.2em;
	letter-spacing: 0.1em;
}



@media only screen and (max-width : 768px) {
	.demo-1 .main-title {
		font-size: 3em;
	}
}

.about{
    margin:0 auto;
    display:flexbox;
    width:90%;
    text-align: center;
    color:#15202B;
    
}

.ab-l{
    color: #192734;
    float:left;
    width: 30%;
    margin-left: 5%;
}

.ab-r{
    color: rgb(47, 61, 63);
    text-align: left;
    font-size:large;
    float:right;
    width:60%;
}

.skills{
    margin:0 auto;
    width: 90%;
    position: static;
    margin-top: 15%;
    display:flexbox;
    text-align: center;
    color:#15202B;
}
.msg{
    color: #192734;
    float:left;
    width: 30%;
    margin-left: 5%;
}

.skitem{
    color: rgb(47, 61, 63);
    text-align: center;
    font-size:large;
    float:right;
    width:60%;

}
.quote{
    color:rgba(156,217,249)
}